Repository thorvg/thorvg.web, pull requests merged in 2024-05, with the labels that each got.

#2 Fix minor bugs
  perf-test/app/page.tsx
  perf-test/package.json
  perf-test/public/profiler.js
  perf-test/yarn.lock
Labels: enhancement

#4 perf-test: adjust the dotLottie rendering quality.
  perf-test/app/page.tsx
Labels: enhancement

#9 chore: 🤖 update dotlottie-react 0.6.0
  perf-test/package-lock.json
  perf-test/package.json
Labels: test

#12 chore: Update thorvg/lottie-player v1.0.0-beta.18
  perf-test/package-lock.json
  perf-test/package.json
Labels: enhancement

#11 Update resources url to fix invalid links
  perf-test/app/page.tsx
Labels: bug

#18 web: Introduce viewport
  src/lottie-player.ts
Labels: enhancement
