Repository thorvg/thorvg.web, pull requests merged in 2024-07, with the labels that each got.

#35 perf-test: remove dotLottie DPR turning off.
  perf-test/app/page.tsx
Labels: perf-test

#37 lottie: Fix render bug in DPR process
  src/lottie-player.ts
Labels: bug

#40 lottie-player: set a default DPR rate.
  src/lottie-player.ts
Labels: optimization

#44 perf-test: sync the test resources with throvg
  perf-test/app/page.tsx
Labels: perf-test

#47 lottie: Release v1.0.0-beta.27
  package.json
  perf-test/package-lock.json
  perf-test/package.json
Labels: enhancement
