Repository thorvg/thorvg.web, pull requests merged in 2024-06, with the labels that each got.

#23 perf-test: Fix the inability to locate seed animations
  perf-test/app/page.tsx
Labels: bug

#25 chore(perf-test): 🤖 self-host dotLottie-web wasm asset for consistent loading time
  perf-test/app/page.tsx
  perf-test/declarations.d.ts
  perf-test/next.config.mjs
  perf-test/package-lock.json
  perf-test/package.json
Labels: enhancement

#28 perf-test: Added skottie player
  perf-test/app/page.tsx
  perf-test/components/SkottiePlayer/index.tsx
  perf-test/next.config.mjs
  perf-test/package-lock.json
  perf-test/package.json
Labels: feature, perf-test
